{% extends "PizzeriaApp/base.html" %}

{% block content %}


<p>
<h1>Mamma Mia Pizzeria!</h1>
</p>

<body style="background-color: brown;"></body>
<img src="https://i.pinimg.com/564x/2f/8e/f6/2f8ef62cab180984976b1a55a880d917.jpg" class="img-thumbnail"
    style="text-align: center;">

<p>
<h6>We pride ourselves on quality hand crafted pizzas,
    from fresh out of the oven to your table!
</h6>
At this time we are not doing delivery to limit the
possibility to spread COVID-19 to keep you and your
loved ones safe. We apologize for the inconvenience
but appreciate your patience!
</p>
{% endblock content %}